.main {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translateX(-50%) translateY(-50%);
}
.forgotpass-p-title{
    color: #AAA713;
}
.forgotpass-p-button{
    width: 350px;
    height: 80px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    background-color: #032D23;
}
